/*  Bryce Kellas
    self bioSite Project
    3/1/2023

    Default Stylesheet for self bioSite Project
 */

/* Desktop */
:root {
    /* Palette
    --dark green: #0e5135;
    --med green: #0d9263;
    --dark grey: #494b4b;
    --light green: #4aba91;
    --gold: #d4ce46;
    */
    --hFColor: #0e5135;
    --bgColor: #494b4b;
    --containerColor: #494b4b;
    --sectHeadColor: #d4ce46;
    --sectBGColor: #0d9263;

    --boxShadow: rgba(0,0,0,0.2);
    --inputBorder: rgba(0, 0, 0, 0.8);

    --textHead: #fff;
    --textCard: #fff;
    --textSectHead: #000;

}

body{
    background-color: var(--bgColor);
    font-family: "Hind Madurai",Verdana,sans-serif;
    margin: 0;
    padding-bottom: 2.5em;
} 
header {
    background-color: var(--hFColor);
    color: var(--textHead);
    height: fit-content;
    line-height: 70px;
    margin: 0;
    position: sticky;
    text-align: center;
    top: 0%;
    width: 100%;
}
#container>figure {
    margin-bottom: 53px;
}
.head-img {
    margin: 0 auto;
}
#container {
    background-color: var(--containerColor);
    margin: 0 auto;
    max-width: 1000px;
    overflow: auto;
    width: 75%;
    min-width: fit-content;
}
.section-header {
    background-color: var(--sectHeadColor);
    box-shadow: 0 4px 8px 0 var(--boxShadow);
    color: var(--textSectHead);
    text-align: center;
    width: 100%;
    display: inline-block;
    border-bottom-left-radius: 75%;
    border-top-right-radius: 75%;
}
#contact-header {
    background-color: var(--sectHeadColor);
    box-shadow: 0 4px 8px 0 var(--boxShadow);
    color: var(--textSectHead);
    text-align: center;
    width: 100%;
    display: inline-block;
    border-bottom-left-radius: 75%;
    border-top-right-radius: 75%;
}
h1, h2 {
    font-weight: 600;
}
h1 {
    margin-block: 0%; 
}
h3 {
    text-align: center;
    font-weight: 600;
    color: var(--textCard);
    width: 100%;
}
p {
    color: var(--textHead);
    font-weight: 500;
}
.section {
    display: grid;
    height: fit-content;
    padding-top: 1px; 
    margin: 10px auto 50px auto;
}
.left, .middle, .right {
    top: 0;
    max-width: 300px;
    margin: 0 auto auto auto;
    width: 100%;
}
.left {
    grid-column: 1;
}
.middle {
    grid-column: 2;
}
.right {
    grid-column: 3;
}
.card>div {
    padding-top: 1px;
    background-size: cover;
    margin-bottom: 0.3em;
}
.card>div h3 {
    background-color: rgba(13, 146, 99, .5);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1px;
    border-radius: 20px;
}
#video-games-top {
    background-image: url("./images/games.PNG");
    background-position: center;
    height: 10em;
} 
#doggos-top {
    background-image: url("./images/doggos.jpg");
    height: 10em;
} 
#cooking-top {
    background-image: url("./images/Cooking.jpg");
    height: 10em;
} 
.card {
    background-color: var(--sectBGColor);
    box-shadow: 0 4px 8px 0 var(--boxShadow);
    height: 100%;
    margin: 20px auto 16px auto;
    padding: 0;
    padding-top: 1px;
    text-align: left;
    width: 100%;
}
.card:hover {
    box-shadow: 0 8px 16px 0 var(--boxShadow);
}
.card figure {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
.card-body {
    background-image: none;
    height: fit-content;
    padding: 8px
}
.card-body p {
    margin: 0;
}
img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.card p {
    color: var(--textCard);
    font-weight: 500;
    margin-bottom: 0.5em;
}

#contact {
    clear: both;
    margin: 0 auto;
    width: 100%;
}
#contact.section {
    padding-top: 1px;
    display: block;
    width: 50%;
    margin: 10px auto 50px auto;
}
form {
    margin-top: 20px;
    margin-bottom: 16px;
    display: grid;
    width: 500px;
    padding-top: 1px;
}


/* Modified code example from https://dev.to/adrianbdesigns/let-s-create-a-floating-label-input-with-html-and-css-only-4mo8 */
.floating {
    margin: auto auto 2rem auto;
    background-color: #0d9263; 
    transition: background-color 0.2s ease;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
}
.floating_input {
    padding: 1.8rem 1rem 0.6rem;
    font-size: 1rem;
    border: 0;
    border-bottom: 0.1rem solid rgba(13, 146, 99, .62);
    transition: border-color 0.2s ease;
    caret-color: var(--sectHeadColor);
    width: 20em;
}
.floating_input:hover,
.floating_input:focus-within {
    background-color: #f0eeee;
}
.floating:hover .floating_input {
    border-color: rgba(13, 146, 99, 1);
}
.floating_input::placeholder {
    color: rgba(0, 0, 0, 0);
}
.floating_label {
    display: block;
    position: relative;
    max-height: 0;
    font-weight: 500;
    pointer-events: none;
}
.floating_label::before {
    color: #222;
    content: attr(data-content);
    display: inline-block;
    filter: blur(0);
    backface-visibility: hidden;
    transform-origin: left top;
    transition: transform 0.2s ease;
    left: 1rem;
    position: relative;
}
.floating_label::after {
    bottom: 1rem;
    content: "";
    height: 0.1rem;
    position: absolute;
    transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1), opacity 180ms cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s ease;
    opacity: 0;
    left: 0;
    top: 100%;
    margin-top: -0.1rem;
    transform: scale3d(0, 1, 1);
    width: 100%;
    background-color: darkgreen;
}
.floating_input:focus + .floating_label::after {
    transform: scale3d(1, 1, 1);
    opacity: 1;
}
.floating_input:placeholder-shown + .floating_label::before {
    transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
}
.floating_label::before,
.floating_input:focus + .floating_label::before {
    transform: translate3d(0, -3.12rem, 0) scale3d(0.82, 0.82, 1);
}
.floating_input:focus + .floating_label::before {
    color: darkgreen;
}
/* End modified */

input[type="submit"] {
    width: 20em;
    display: block;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: transparent;
    background-color: #d4ce46;
    box-shadow: 0 4px 8px 0 var(--boxShadow);
}
input[type="submit"]:hover {
    display: block;
    padding: 16px;
    border-color: var(--sectHeadColor);
    background-color: #cdc644;
}


/* Form grid */
#fname {
    grid-column: 1;
    grid-row: 1;
    width: auto;
}
#lname {
    grid-column: 2;
    grid-row: 1;
    width: auto;
}
#email {
    grid-column: 1;
    grid-row: 2;
    width: auto;
}
input[type="submit"] {
    grid-column: 2;
    grid-row: 2;
    height: auto;
    width: 15em;
    margin: 0 auto 32px auto;
}

footer {
    background-color: var(--hFColor);
    clear: both;
    color: white;
    display: block;
    height: auto;
    margin-top: auto;
    padding: 30px 0;
    position: absolute;
    width: 100%;
}
footer p {
    height: auto;
    margin: 0;
    text-align: center;
    width: 100%;
}

/* Mobile, phones 
@media only screen and (max-width: 768px) {
    .site-header h1 {
        width: 100%;
    }
    header {
        width: 100%;
    }
    nav {
        clear: both;
        line-height: 2em;
        width: 100%;
    }
    nav a {
        background-color: #69BE28;
        width: 30%;
    }
    #container {
        background-color: #A5ACAF;
        min-height: 100vh;
        width: 75%;
        min-width: fit-content;
    }
    .image-landing figure {
        height: 100%; 
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        
        object-fit: cover;
    }
    .image-landing figure img {
        height: 184px; 
        object-fit: cover;
        object-position: center;
        width: 294px;
    }

    .page-header {
        margin-top: 2em;
    }

    #left, #middle, #right {
        float: none;
        margin: 0 auto;
        max-width: 90%;
        width: 100%;
    }
    .card {
        width: 100%;
        margin: 0 0 16px 0;
    }
    .card-body {
        height: max-content;
    }
    .card figure {
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    footer {
        display: inline-block;
    }
}