/*  Bryce Kellas
    bioSite Project
    2/10/2023

    Default Stylesheet for bioSite Project
 */

/* Desktop */
body{
    background-color: #69BE28;
    font-family: "Hind Madurai",Verdana,sans-serif;
    margin: 0;
    padding-bottom: 2.5em;
} 
header {
    background-color: #002244;
    color: white;
    height: 55px;
    line-height: 55px;
    margin: 0;
    width: 100%;
}
h1, h2 {
    color: white;
    font-weight: 600;
}
.landing-header {
    margin: 0 auto;
    width: 85%;
}
.landing-header h1 {
    line-height: inherit;
    margin: 0;
    text-align: center;
    width: auto;
}
.site-header {
    margin: 0 auto;
    width: 85%;
}
.site-header h1 {
    float: left;
    line-height: inherit;
    margin: 0;
    text-align: center;
    width: auto;
}

.page-header {
    border: 0;
    /* border-top: 7px; */
    border-bottom: 6px;
    border-color: #002244;
    border-radius: 20px;
    border-style: double;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4); */
    /* background-color: #69BE28; */
    height: 45px;
    line-height: 50%;
    margin: 20px auto;
    max-width: 420px;
    min-width: fit-content;
    padding-top: 1px;
    text-align: center;
    top: 20px;
    width: 90%;
}
.page-header h2 {
    text-align: center;
}

p {
    color: white;
}

nav {
    float: right;
    line-height: inherit;
    text-align: center;
    width: 220px;
}
nav a {
    color: white;
    display:inline-block;
    font-weight: 500;
    text-decoration-line: none;
    width: 70px;
}
nav a:hover {
    background-color: #001931;
}
.navbar-landing {
    background-color: #939160;
    color: white;
    line-height: 2em;
    margin: 16px 0;
    text-align: center;
    width: auto;
}
.navbar-landing a {
    color: white;
    display: block;
    text-decoration-line: none;
}
.navbar-landing a:hover {
    background-color: #C2BA39;
    font-weight: 500;
}
.image-landing {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
}
.image-landing figure { 
    margin-left: auto;
    margin-right: auto;
    margin: 0;
}
.image-landing figure img {
    height: 184px; 
    object-fit: cover;
    object-position: center;
    width: 294px;
}

#container {
    background-color: #A5ACAF;
    margin: 0 auto;
    max-width: 960px;
    min-height: 100vh;
    padding-top: 1px; /* Fix Margin Collapse with .page-header */
    width: 75%;
    min-width: fit-content;
}

#left, #middle, #right {
    float: left;
    max-width: 300px;
    width: 33%;
}
.card {
    background-color: #212930;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: auto;
    margin-left: 16px;
    margin-right: 16px;
    padding: 0;
    text-align: left;
    width: auto;
}
.card-landing {
    background-color: #212930;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 16px;
    text-align: left;
    width: 294px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-landing:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card figure {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
.card-body {
    height: 12.5em;
    padding: 8px
}
.card-body p {
    margin: 0;
}

img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.bio-figure {
    float: left;
    height: 100%;
    margin: 0px;
    margin-right: 8px;
    width: 33%;
    min-width: 150px;
    max-width: 300px;
} 
.bio-card-body { 
    display: block;
    height: 100%;
    padding: 8px;
    /* width: 67%; */  

}
.bio-card-body article{
    height: 100%;
    width: 100%;  

}
.bio-figure img {
    height: 100%;
    object-fit: contain;
    width: 100%;
}
.bio-card {
    background-color: #212930;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: left;
    width: 95%;
    max-width: 893px;
}

footer {
    background-color: #002244;
    clear: both;
    color: white;
    display: block;
    height: auto;
    margin-top: auto;
    padding: 30px 0;
    position: absolute;
    width: 100%;
}
footer p {
    height: auto;
    margin: 0;
    text-align: center;
    width: 100%;
}

/* Mobile, phones */
@media only screen and (max-width: 768px) {
    .site-header h1 {
        width: 100%;
    }
    header {
        width: 100%;
    }
    nav {
        clear: both;
        line-height: 2em;
        width: 100%;
    }
    nav a {
        background-color: #69BE28;
        width: 30%;
    }
    #container {
        background-color: #A5ACAF;
        min-height: 100vh;
        width: 75%;
        min-width: fit-content;
    }
    .image-landing figure {
        height: 100%; 
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        
        object-fit: cover;
    }
    .image-landing figure img {
        height: 184px; 
        object-fit: cover;
        object-position: center;
        width: 294px;
    }

    .page-header {
        margin-top: 2em;
    }

    #left, #middle, #right {
        float: none;
        margin: 0 auto;
        max-width: 90%;
        width: 100%;
    }
    .card {
        width: 100%;
        margin: 0 0 16px 0;
    }
    .card-body {
        height: max-content;
    }
    .card figure {
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    footer {
        display: inline-block;
    }
}